[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/admin"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/login"
  to = "/admin/login"
  status = 302

[[redirects]]
  from = "/connect"
  to = "/connect.html"
  status = 200

[[redirects]]
  from = "/guest/*"
  to = "/connect.html"
  status = 200

[[redirects]]
  from = "/"
  to = "/connect.html"
  status = 200
