[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/connect"
  to = "/connect.html"
  status = 200

[[redirects]]
  from = "/guest/*"
  to = "/connect.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
